@model Iwant2EAT.Models.Store
@Layout@{
    ViewBag.Title = string.Format("{0} | EEEaTTT", ViewBag.StoreName);
    ViewBag.HomeActive = "";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div id="msgDiv">
        @Html.Raw(new HtmlString(ViewBag.ErrorHtml))
        @if (TempData.ContainsKey("CollectHtml"))
        {
            @Html.Raw(new HtmlString(TempData["CollectHtml"].ToString()))
        }
        @if (TempData.ContainsKey("CreateStoreHtml"))
        {
            @Html.Raw(new HtmlString(TempData["CreateStoreHtml"].ToString()))
        }
        @if (TempData.ContainsKey("ModifyStoreHtml"))
        {
            @Html.Raw(new HtmlString(TempData["ModifyStoreHtml"].ToString()))
        }
        @if (TempData.ContainsKey("DeleteStoreHtml"))
        {
            @Html.Raw(new HtmlString(TempData["DeleteStoreHtml"].ToString()))
        }
    </div>

    <div class="form-horizontal">
        <h3>
            <strong>@Model.Name</strong> <small>@Model.Branch</small>
        </h3>
        <hr />

        <div class="form-group">
            <img data-src="holder.js/100%x200" class="img-thumbnail" alt="哎呀！圖片呢？" style="display: block; margin-left: auto; margin-right: auto;" src="@Model.ImageUrl" data-holder-rendered="true">
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">用餐類型</label>
            <div class="col-md-10">
                <p>@Model.Type)</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">聯絡電話</label>
            <div class="col-md-10">
                <p>@Model.Phone</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">開店日期</label>
            <div class="col-md-10">
                <div class="col-md-10 btn-group" data-toggle="buttons">
                    <label class="btn @(Model.DayOff.Contains("0;") ? "btn-warning" : "btn-primary")">Sunday</label>
                    <label class="btn @(Model.DayOff.Contains("1;") ? "btn-warning" : "btn-primary")">Monday</label>
                    <label class="btn @(Model.DayOff.Contains("2;") ? "btn-warning" : "btn-primary")">Tuesday</label>
                    <label class="btn @(Model.DayOff.Contains("3;") ? "btn-warning" : "btn-primary")">Wednesday</label>
                    <label class="btn @(Model.DayOff.Contains("4;") ? "btn-warning" : "btn-primary")">Thursday</label>
                    <label class="btn @(Model.DayOff.Contains("5;") ? "btn-warning" : "btn-primary")">Friday</label>
                    <label class="btn @(Model.DayOff.Contains("6;") ? "btn-warning" : "btn-primary")">Saturday</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">開店時間</label>
            <div class="col-md-10">
                <p>@Model.OpeningTime.ToString(@"hh\:mm")</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">閉店時間</label>
            <div class="col-md-10">
                <p>@Model.ClosingTime.ToString(@"hh\:mm")</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">地址</label>
            <div class="col-md-10">
                <p><a href="https://www.google.com.tw/maps/place/@Model.Address" target="_blank">@Model.Address</a></p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">店家介紹</label>
            <div class="col-md-10">
                <p>@Model.Introduction</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">留言數</label>
            <div class="col-md-10">
                <p><a href="@Url.Action("Reply", new { StoreGuid = Model.Guid })">@(Model.ReplyCount)</a></p>
            </div>
        </div>
    </div>

    <div style="text-align: right;">
        <p>
            @if (Session["Username"] != null)
            {
                <a href="@Url.Action("Collect", "Store", new { Guid = Model.Guid, Collect = !Model.IsCollect })" class="btn btn-default" style="text-align: right">
                    <img src="~/@(Model.IsCollect ? "Content/Resources/star.png" : "Content/Resources/star_empty.png")" width="20" height="20" style="display: inline-block;" />
                    <span class="badge"> @Model.CollectCount</span>
                </a>
                <a href="@Url.Action("Reply", "Store", new { StoreGuid = Model.Guid })" class="btn btn-default" style="text-align: right">
                    <img src="~/@(Model.IsReply ? "Content/Resources/reply_full.png" : "Content/Resources/reply_line.png")" width="20" height="20" style="display: inline-block;" />
                    <span class="badge"> @Model.ReplyCount</span>
                </a>
            }
            @if (ViewBag.IsCreater)
            {
                <a href="@Url.Action("Modify", "Store", new { Guid = @Model.Guid })" class="btn btn-info" role="button">Modify Info</a>
                <a href="@Url.Action("Delete", "Store", new { Guid = @Model.Guid })" class="btn btn-danger" role="button">Delete Store</a>
            }
        </p>
    </div>
</div>