@model Iwant2EAT.Models.Store
@Layout@{
    ViewBag.Title = "Modify | EEEaTTT";
    ViewBag.HomeActive = "";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div id="msgDiv">
        @(new HtmlString(ViewBag.ModifyStoreHTML))
    </div>

    <div class="form-horizontal">
        @{ using (Html.BeginForm("Modify", "Store", FormMethod.Post, new { id = "modify-store-info", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div>
                    <h3><strong>更新店家</strong></h3>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <!-- EditorFor 加上 disabled 後就會無法返值，故必須新增一 hidden 欄位用以儲存資訊 -->
                            @Html.HiddenFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "店家名稱，不可空白", disabled = "disabled", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @type = "text", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "分店名稱，若無請留白" } })
                            @Html.ValidationMessageFor(model => model.Branch, "", new { @type = "text", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "用餐類型，如：吃到飽、火鍋、簡餐、燒肉等" } })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @type = "text", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="btn-group col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @type = "tel", @class = "form-control", @placeholder = "店家聯絡電話，若無請留白" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @type = "tel", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">DayOn</label>
                        <div class="col-md-10 btn-group" data-toggle="buttons">
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Sunday ? "active" : "")" data-color="primary">Sunday</button>
                                @Html.EditorFor(model => model.Sunday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Sunday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Sunday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Monday ? "active" : "")" data-color="primary">Monday</button>
                                @Html.EditorFor(model => model.Monday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Monday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Monday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Tuesday ? "active" : "")" data-color="primary">Tuesday</button>
                                @Html.EditorFor(model => model.Tuesday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Tuesday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Tuesday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Wednesday ? "active" : "")" data-color="primary">Wednesday</button>
                                @Html.EditorFor(model => model.Wednesday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Wednesday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Wednesday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Thursday ? "active" : "")" data-color="primary">Thursday</button>
                                @Html.EditorFor(model => model.Thursday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Thursday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Thursday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Friday ? "active" : "")" data-color="primary">Friday</button>
                                @Html.EditorFor(model => model.Friday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Friday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Friday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                            <span class="button-checkbox">
                                <button type="button" class="btn @(Model.Saturday ? "active" : "")" data-color="primary">Saturday</button>
                                @Html.EditorFor(model => model.Saturday, new { htmlAttributes = new { @type = "checkbox", @class = "hidden", @checked = Model.Sunday ? "checked" : "" } })
                                @Html.ValidationMessageFor(model => model.Saturday, "", new { @type = "checkbox", @class = "text-danger" })
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OpeningTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OpeningTime, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OpeningTime, "", new { @type = "time", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClosingTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ClosingTime, new { htmlAttributes = new { @type = "time", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClosingTime, "", new { @type = "time", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "店家地址" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @type = "text", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Introduction, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "店家介紹" } })
                            @Html.ValidationMessageFor(model => model.Introduction, "", new { @type = "text", @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">更新店家相片</label>
                        <div class="col-md-10">
                            @Html.HiddenFor(model => model.ImageUrl)
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(model => model.Creater)
                @Html.HiddenFor(model => model.Guid)
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="更新店家" class="btn btn-success" />
                    </div>
                </div>
            }
        }
    </div>
</div>

<script>
    $(function () {
        $('.button-checkbox').each(function () {

            // Settings
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            // Event Handlers
            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });

            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button
                        .removeClass('btn-default')
                        .addClass('btn-' + color + ' active');
                }
                else {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-default');
                }
            }

            // Initialization
            function init() {

                updateDisplay();

                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>

<script type="text/javascript">
        $(function () {
            $('input[name="Branch"]').rules('add', {
                messages: {
                    required: "請至少選擇一個分類"
                }
            });
        });
</script>