@model List<Iwant2EAT.Models.Store>
@Layout@{
    ViewBag.Title = "MyStore | EEEaTTT";
    ViewBag.HomeActive = "";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="msgDiv">
    @(new HtmlString(ViewBag.SearchHtml))
</div>
<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail">
                <img data-src="holder.js/100%x200" alt="100%x200" style="height: 300px; width: 100%; display: block;" src="@Model[i].ImageUrl" data-holder-rendered="true">
                <div class="caption">
                    <h3><strong>@Model[i].Name</strong><small>@(string.IsNullOrEmpty(@Model[i].Branch) ? "" : string.Format(" ({0})", @Model[i].Branch))</small></h3>
                    <table class="table table-striped" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td width="20%">電話</td>
                                <td width="80%">@Model[i].Phone</td>
                            </tr>
                            <tr>
                                <td width="20%">地址</td>
                                <td width="80%">@Model[i].Address</td>
                            </tr>
                            <tr>
                                <td width="20%">營業時間</td>
                                <td width="80%">@(string.Format("{0} - {1}", @Model[i].OpeningTime, @Model[i].ClosingTime))</td>
                            </tr>
                            <tr>
                                <td width="20%">本日公休</td>
                                <td width="80%">
                                    @if (@Model[i].DayOff.Contains(ViewBag.DayOfWeek))
                                    {
                                        <span style="color: red">是</span>
                                    }
                                    else
                                    {
                                        <span>否</span>
                                    }
                                </td>

                            </tr>
                            <tr>
                                <td width="20%">店家介紹</td>
                                <td width="80%">
                                    @if (@Model[i].Introduction.Length > 20)
                                    {
                                        @(@Model[i].Introduction.Remove(20) + " ...")
                                        <a href="/Store/Detail?Guid=@Model[i].Guid">More</a>
                                    }
                                    else
                                    {
                                        @Model[i].Introduction
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p align="right">
                        <a href="/Store/Detail?Guid=@Model[i].Guid" class="btn btn-primary" role="button">Learn More</a>
                        <a href="/Store/Modify?Guid=@Model[i].Guid" class="btn btn-info" role="button">Modify Info</a>
                        <a href="/Store/Delete?Guid=@Model[i].Guid" class="btn btn-danger" role="button">Delete Store</a>
                    </p>
                </div>
            </div>
        </div>

        if (i != 0)
        {
            if (i % 2 == 1 && i % 3 == 0)
            {
                <div class="clearfix"></div>
            }
            else if (i % 2 == 1)
            {
                <div class="clearfix visible-sm"></div>
            }
            else if (i % 3 == 0)
            {
                <div class="clearfix visible-md"></div>
            }
        }
    }
</div>