<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/holder.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation" style="@ViewBag.NavbarStyle">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">EEEaTTT</a>
            </div>
            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav">
                    <li class="@ViewBag.HomeActive"><a href="@Url.Action("Index", "Home")">首頁</a></li>
                    @{if (Session["Username"] != null)
                        {
                            @(new HtmlString(string.Format("<li class=\"{0}\"><a href=\"/Store/Create\">新增店家</a></li>", ViewBag.AddStoreActive != null ? ViewBag.AddStoreActive : "")))
                        }
                    }
                </ul>
                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "navbar-form navbar-left", enctype = "multipart/form-data", role = "search" }))
                {
                    <div class="form-group">
                        <input name="Keyword" type="text" class="form-control" placeholder="搜尋店家" />
                        <input name="Findway" type="hidden" value="Name" />
                    </div>
                }
                @if (HttpContext.Current.Session.Count > 0)
                {
                    if (string.IsNullOrEmpty(@HttpContext.Current.Session["Username"].ToString()))
                    {
                        <div class="nav navbar-nav navbar-right">
                            <a class="btn btn-success navbar-btn" href="@Url.Action("Rigister", "Member")">註冊</a>
                            <a class="btn btn-default navbar-btn" href="@Url.Action("Login", "Member")">登入</a>
                        </div>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">你好，@HttpContext.Current.Session["Username"].ToString()<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("MyStore", "Store")">我的店家</a></li>
                                    <li><a href="@Url.Action("MyStore", "MyCollect")">我的收藏</a></li>
                                    <li><a href="@Url.Action("MyStore", "Profile")">帳戶</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Logout", "Member")">登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
                else
                {
                    <div class="nav navbar-nav navbar-right">
                        <a class="btn btn-success navbar-btn" href="@Url.Action("Rigister", "Member")">註冊</a>
                        <a class="btn btn-default navbar-btn" href="@Url.Action("Login", "Member")">登入</a>
                    </div>
                    }
            </div>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <footer style="@ViewBag.NavbarStyle">
        <hr />
        <div style="text-align: center;">
            <a href="/Home/Index">[返回首頁]</a>
        </div>

        <div style="text-align: right;">
            <p>&copy; @DateTime.Now.Year - I want EAT !!</p>
        </div>
    </footer>
</body>
</html>